.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222020;
}

h1 {
    color: white;
    font-family: 'Graphik LCG',sans-serif;
    margin-bottom: 30px;
}

a.download-program-well {
    padding: 20px;
    color: white;
    background-color: #2f1ce4;
    border: 3px solid #2f1ce4;
}

a.detail-well {
    padding: 20px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
}